<% provide(:title, 'Create card') %>
<h1>Create card</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@card) do |form| %>
      <%= render 'shared/error_messages' %>

      <%= form.label :book %>
      <%= form.text_field :book, class: 'form-control', id: 'form_book' %>

      <%= form.label :status %>
      <%= form.text_field :status, class: 'form-control', id: 'form_status' %>

      <%= form.label :deadline %>
      <%= form.text_field :deadline, data: { date_format: "YYYY-MM-DD HH:mm:ss"}, class: 'form-control', placeholder: 'YYYY-MM-DD HH:mm:ss', id: 'datetimepicker4' %>
      <script type="text/javascript">
          $(function () {
              $('#datetimepicker4').datetimepicker();
          });
      </script>

      <%= form.submit "Create new card", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
