<!DOCTYPE html>
<html>
  <head>
    <title><%=full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%=csrf_meta_tag %>
  </head>

  <body>
    <header class="navbar navbar-fixerd-top navbar-inverse">
      <div class="container">
        <%= link_to "Bookdore", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Table", '#' %></li>
            <li><%= link_to "Create", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
